html,
body {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

html * {
    font-size: 12px;
}

div.main {
    padding: 10px;
}
/**
 * 表单布局
 */
.table-layout {
    /* width: 100% ;  */
    table-layout: fixed;
}
.table-layout input[type=text],
.table-layout input[type=file],
.table-layout select {
    box-sizing: border-box;
    width: 180px;
    height: 26px;
    padding: 1px 1px 1px 5px;
    border: 1px solid #aecaf0;
    border-radius: 1px;
    outline: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
}

.table-layout textarea {
    box-sizing: border-box;
    height:50px;
    padding: 5px;
    border: 1px solid #aecaf0;
    font-family: inherit;
    font-size: inherit;
    border-radius: 1px;
    outline: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
}

.table-layout button {
    box-sizing: border-box;
    height: 26px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #aecaf0;
    background: #e5edf4;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
}
.table-layout button:hover {
    outline: #2196f3 solid 1px;
}
.table-layout tr {
    height: 38px;
}
.table-layout td.label {
    width: 80px;
    text-align: right;
}
.table-layout td.ipt {
    width: 220px;
    text-align: left;
}
/*必填*/
.table-layout .no-empty:before {
    font-size: 4px;
    content: '*';
    color: red;
}

/*按钮组样式*/
.button-group {
    text-align: center;
}
.button-group > button {
    margin: 12px;

    box-sizing: border-box;
    height: 26px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #aecaf0;
    background: #e5edf4;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
}
.button-group > button:hover {
    outline: #2196f3 solid 1px;
}